workflows/chat.json
{
  "name": "RAG-pt-1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-path",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        256
      ],
      "id": "9ff9247f-2c4d-4641-bae2-ddd05e1f0446",
      "name": "Webhook1",
      "webhookId": "05d32954-d60a-4c75-8414-914e87eb6532"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all()[0].json.result;\n\nconst context = results\n  .map(r => r.payload.text)\n  .join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    context,\n    question: $('Webhook1').item.json.body.message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        176
      ],
      "id": "a4fdc7f4-c7f4-445f-8eb1-8abb6faff1f9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: `Answer the question using only the context below. If the answer isn't in the context, say you don't know.\\n\\nContext:\\n${$json.context}\\n\\nQuestion: ${$json.question}`\n    }]\n  }],\n  generationConfig: {\n    temperature: 0.2,\n    maxOutputTokens: 1024\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        144
      ],
      "id": "580cac14-7de0-4e14-a0fe-085b1711a873",
      "name": "HTTP Request5",
      "retryOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.candidates[0].content.parts[0].text }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1488,
        160
      ],
      "id": "495f2c3b-45a4-45c8-a315-d85737061781",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"models/gemini-embedding-001\",\n  content: { parts: [{ text: $json.body.message }] },\n  taskType: \"RETRIEVAL_QUERY\",\n  outputDimensionality: 768\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        272
      ],
      "id": "0838d095-b7d6-457d-adc0-12ffdb51b13d",
      "name": "Embeddings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7703a25f-16ee-48b2-8f91-84a976b89278.eu-west-2-0.aws.cloud.qdrant.io:6333/collections/knowledge_base/points/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  vector: $json.embedding.values,\n  limit: 5,\n  with_payload: true\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        288
      ],
      "id": "0643d509-7b22-45ab-af24-d0434b47aea1",
      "name": "Qdrant Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1Aa3Sc9hWp48Ul76",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2eb8e660-3981-4c6f-b406-1a53d77bbfc1",
              "leftValue": "={{ $json.result && $json.result.length > 0 ? $json.result[0].score : 0 }}",
              "rightValue": "=0.75",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        288
      ],
      "id": "57286d01-5504-41cb-a1a1-86bc9e32eb85",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a voice assistant.\n\nAnswer the user's question using the search results below.\n\nUser question:\n{{ $('Code in JavaScript1').first().json.query }}\n\nSearch results:\n{{ $json.research_context }}\n\nRules:\n- Give only the useful answer.\n- Do not speak URLs.\n- Do not mention website links.\n- Do not say \"according to source 1\".\n- Keep it short and conversational.\n- If there are multiple updates, summarize the top 3."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1328,
        576
      ],
      "id": "48f142d3-8379-470d-9243-2e53c037d69f",
      "name": "Message a model1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 1000,
      "credentials": {
        "googlePalmApi": {
          "id": "KXH2QSwJInt5QArq",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $json.results || [];\n\nlet context = \"\";\n\nfor (let i = 0; i < results.length; i++) {\n  const r = results[i];\n\n  context += `\nSource ${i + 1}\nTitle: ${r.title || \"\"}\nURL: ${r.url || \"\"}\nSnippet: ${r.content || r.raw_content || \"\"}\n`;\n}\n\nreturn [\n  {\n    json: {\n      query: $json.query || $('Switch').first().json.query,\n      research_context: context,\n      knowledge_context: \"\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        544
      ],
      "id": "17c2111a-743f-4348-b603-4789f3a83fea",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  api_key: \"YOUR_TAVILY_API_KEY\",\n  query: $('Webhook1').item.json.body.message,\n  max_results: 3\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        448
      ],
      "id": "e1164afe-e6f9-497d-b766-b50722400eee",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { answer: $json.content.parts[0].text } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1872,
        512
      ],
      "id": "1ea6dde1-34e2-4e65-8d73-0972badaa10c",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "main": [
        [
          {
            "node": "Qdrant Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Search": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "17d7951f-3ed5-4d74-92b7-663dba250ee0",
  "meta": {
    "instanceId": "6e4d4a70212d7b7ab6369367bab99633fb9645e9d4070edee05a48c34370ae23"
  },
  "nodeGroups": [],
  "id": "7JF2aEJimB2RwT0K",
  "tags": []
}